body, p, h1, h2, input ,textarea {

    margin: 0;
    font-family: Roboto;
}
 
h1{
    font-size: 26px;
}

/*navbar */
#navbar{
    background-color: #e60000;
    color: white;
    padding:0 15px;
    height: 60px;
    align-items: center;
}

#navbar img {
    height: 34px;
    margin-top: 14px;
    
}



#navbar h2, #navbar ul, #navbar list-li, #navbar nav{
    display:inline-block;
     
}



#navbar nav {
    float: right;
}


#navbar ul {
    margin-top: 22px;
    display: flex;
    
}

#navbar li{
    margin: 0 10px;

}

#navbar-list li a{
    text-decoration: none;
    color: pink;
    
}


#navbar-list li a :hover{
    border-bottom: 1px solid white;
}

